<html>
    <head>
        <title>Ansible Configuration Management</title>
    </head>
    <body>
        <h1>Configured by {{conf_mgr_tool}}</h1>
        <h1>Provisioned by {{provisioner_tool}}</h1>
        <h1>Hostname - {{ansible_hostname}}</h1>
        <h1>Linux Family - {{ansible_os_family}}</h1>
        <h1>Linux Distribution - {{ansible_distribution}}</h1>
        <h1>Linux version - {{ansible_distribution_version}}</h1>
    </body>
</html>
